<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - notify</title>
</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Notify</h1>
  </div>

  <div class='card wide shadowed bordered'>
    <h1>This is placeholder text.</h1>
  </div>

</body>
</html>
