<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %> - competencies</title>
</head>

<body>

  <% include ../partials/pre-nav.ejs %>
  <% include ../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Core Competencies</h1>
  </div>

</body>
</html>
