<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %> - experience</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron">
    <h1>Professional Experience</h1>
  </div>

</body>
</html>
