<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %></title>
</head>
<body>

  <% include ../partials/pre-nav.ejs %>
  <% include ../partials/post-nav.ejs %>

  <div class='highlight-page-section'>
    <div class='content'>

      <div class='column-container page-height'>
        <div class='two-column'>
          <h1 style='margin:0;padding-top:10px;'>Matt Bertoncello</h1>
          <img class='mb-portrait' src='/images/portrait.png'>
          <p class='marketing'>
            Hello and thank you for arriving at my personal website. <a href='/projects'>Here</a>, you will find a collection of projects in various stages of completion.
          </p>
          <p class='marketing'>
            To learn more about me, please browse my <a href='/about'>about</a> page.
          </p>
          <p class='marketing'>
            Kind regards,</br>Matt Bertoncello.
          </p>
        </div>

        <div class='two-column sec-fill title-page-register'>
          <div class='title-page-card'>
            <h1>Notable Projects</h1>
            <a class='title-project-link title-project-link-notify' href='#notify'>
              <span class='title-project-link-text'>Notify</span>
            </a>
            <a class='title-project-link title-project-link-nineway' href='#nineway'>
              <span class='title-project-link-text'>9 Way Tic-Tac-Toe</span>
            </a>
            <a class='title-project-link title-project-link-hermes' href='#hermes'>
              <span class='title-project-link-text'>Hermes Messanger</span>
            </a>
            <a class='title-project-link title-project-link-website' href='#thiswebsite'>
              <span class='title-project-link-text'>This Website</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-notify-title'>
    <div class='anchor' id='notify'></div>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='two-column'>
          column 1
        </div>
        <div class='two-column'>
          column 2
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-nineway-title'>
    <div class='anchor' id='nineway'></div>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='two-column'>
          column 1
        </div>
        <div class='two-column'>
          column 2
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-hermes-title'>
    <div class='anchor' id='hermes'></div>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='two-column'>
          column 1
        </div>
        <div class='two-column'>
          column 2
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-thiswebsite-title'>
    <div class='anchor' id='thiswebsite'></div>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='two-column'>
          column 1
        </div>
        <div class='two-column'>
          column 2
        </div>
      </div>
    </div>
  </div>

</body>
</html>
