<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %></title>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron">
    <h1><%= process.env.APPLICATION_NAME %></h1>
  </div>

  <div class="link-card">
    <a href="/education">Education</a>
  </div>

  <div class="link-card">
    <a href="/experience">Professional Experience</a>
  </div>

  <div class="link-card">
    <a href="/competencies">Core Competencies</a>
  </div>

  <div class="link-card">
    <a href="/freelance">Freelance</a>
  </div>

</body>
</html>
