<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %></title>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron">
    <h1><%= process.env.APPLICATION_NAME %></h1>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/education">Education</a>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/experience">Experience</a>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/competencies">Core Competencies</a>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/freelance">Freelance</a>
  </div>

</body>
</html>
