<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %></title>
</head>
<body>

  <% include ../partials/pre-nav.ejs %>
  <% include ../partials/post-nav.ejs %>

  <div class='highlight-page-section'>
    <div class='content'>

      <div class='column-container page-height'>
        <div class='two-column'>
          <img class='mb-portrait' src='/images/portrait.jpg'>
          <div class='marketing'>
            <a href='/about'>Matt Bertoncello</a>
          </div>
        </div>

        <div class='two-column sec-fill title-page-register'>
          <div class='title-page-card'>
            <h1>Notable Projects</h1>
            <a class='title-project-link title-project-link-notify' href='#notify'>
              <span class='title-project-link-text'>Notify</span>
            </a>
            <a class='title-project-link title-project-link-9way' href='#9way'>
              <span class='title-project-link-text'>9 Way Tic-Tac-Toe</span>
            </a>
            <a class='title-project-link title-project-link-hermes' href='#hermes'>
              <span class='title-project-link-text'>Hermes</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
