<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>mbgameslibrary - Login</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<form class='form-signin' role='form' action='/login' method='post'>
  <h2 class='form-signin-heading'>Please sign in</h2>
  <label class='sr-only' for='inputEmail'></label>
  <input class='form-control' type='text' name='username' id='username' id='inputEmail' placeholder='Username' required autofocus>
  <input class='form-control' type='password' name='password' id='username' id='inputPassword' placeholder='Password'>
  <button class='btn btn-lg btn-primary btn-block' type='submit'>LOGIN</button>
</form>

<div class='form-group'>
  <a class='btn btn-primary' href='/auth/facebook'>Facebook</a>
</div>
<div class='form-group'>
  <a class='btn btn-info' href='/auth/twitter'>Twitter</a>
</div>
<div class='form-group'>
  <a class='btn btn-danger' href='/auth/google'>Google</a>
</div>
<div class='form-group'>
  <a class='btn black-back' href='/auth/github'>Github</a>
</div>

</body>
</html>
