<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>mbgameslibrary - Session</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<h1>Session ID: <%= req.sessionID %></h1>

</body>
</html>
