<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %> - uni projects</title>
</head>

<body>

  <% include ../partials/pre-nav.ejs %>
    <li><a href='/uni'>Uni Projects</a></li>
  <% include ../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Uni Projects</h1>
  </div>

  <div class="content-container">
    <div class="card bordered shadowed">
      <div class="card-body">
        <a type='button' class='card-link-inverted bordered' href="/uni/anagrams">Anagrams</a>
      </div>
    </div>

</body>
</html>
