/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.header_button {
    color: white;
    text-align: center;
    width: 100px;
    height: 65px;
}

.game_card {
    border: 2px solid #03a9f4;
    border-radius: 12px;
    padding: 10px 10px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
    display:inline-block;
}

.cell {
    width:4vw;
    height:4vw;
    border: thin solid black;
}


.dashboad_cell {
    width:6vh;
    height:6vh;
    border: thin solid black;
}

.square {
    text-align: center;
    width:100%;
}

.main_row {
}

.top_row, .row0 {
    border-bottom: thick solid black;
}

.middle_row, .row1 {
    border-top: thick solid black;
    border-bottom: thick solid black;
}

.bottom_row, .row2 {
    border-top: thick solid black;
}

.left_column, .col0 {
    border-right: thick solid black;
}

.middle_column, .col1 {
    border-right: thick solid black;
    border-left: thick solid black;
}

.right_column, .col2 {
    border-left: thick solid black;
}

.player1 {
    background-image: url('/images/redO.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.player2 {
    background-image: url('/images/blueX.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.valid {
    background-color: yellow;
}

.invalid {
}

.main_text_div {
    display:inline-block;
    width:40vw;
    vertical-align: top;
    font-size:3vw;
    line-height: 2vw;
}

.table_div {
    background-color: white;
    border: 5px solid #03a9f4;
    border-radius: 12px;
    padding: 10px 20px 20px 10px;
    color: black;
    display:inline-block;
}

.y_coordinate {
    height:12vw;
    font-size: 1.5vw;
    text-align: center;
}

.coordinate {
    font-size: 1.5vw;
    text-align: center;
}

.winner_square {
        background-position: 9px 15px;
    }

table, tr, td, tbody {
    vertical-align: middle !important;
}

.turn_div {
    border:2px solid;
    border-radius:12px;
    background-color:white;width:75%;
    font-size:3vw;
}
.newgame_div {
    font-size: 3vw;
}

.newgame_div > form > table > tbody > tr > td > input {
    padding: 10px 2px;
    margin: 0px 20px;
    width: 75%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    background-color: white;
    color: #03a9f4; /* light blue */
    border: 0.3vw solid #03a9f4; /* light blue */
    border-radius: 2vw;
}

.players_names {
    color:white;
    margin:0px 0px 3vw 0px;
    font-size:5vw;
    line-height:6vw;
}

.black_band {
    color: white;
    background-color:black;
    opacity:0.8;
    Word-wrap: break-word;
}

.game_card_header {
  word-wrap: break-word;
  width: 55vh;
}

@media only screen and (max-width: 800px) {
    .players_names {
        font-size:60px;
        line-height: 60px;
    }
    .cell {
        height: 9vw;
        width: 9vw;
    }
    .y_coordinate {
        height:20vw;
        font-size: 12px;
    }
    .coordinate {
        font-size: 12px;
    }
    .table_div {
        width: 85vw;
        padding-bottom: 10vw;
    }
    .table_div {
        padding: 5px 10px 10px 5px;
        width: 100%;
    }
    .main_text_div {
        width: inherit;
        font-size: 30px;
        line-height: 30px;
    }
    .turn_div {
        font-size: 45px;
        line-height: 45px;
    }
}
