:root {
  --main-nav-colour: #004b85;
  --main-nav-text-colour: #ffffff;
  --main-nav-text-colour-hover: #ffffff;
  --com-nav-colour: #ffffff30;
  --sec-nav-colour: #ffffff;
  --main-bg-colour: #ffffff;
  --corporate-bg-colour: #004b8520;
  --main-black: #000000;
  --main-white: #ffffff;
  --main-text-colour: #000000;
  --main-text-colour-hover-inverted: #000000;
  --main-text-colour-hover: #ffffff;
  --sec-text-colour: #ffce00;
  --main-border-radius: 3px;
  --header-height: 50px;

  --ultimate-main-colour: #03a9f4;
  --notify-main-colour: #ffce00;
  --notify-sec-colour: #ffce00c0;
  --messenger-main-colour: #dea6ab;
}

body {
  background-color: var(--main-bg-colour);
  text-align: center;
  color: var(--main-text-colour);
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.anchor {
  display: block;
  position: relative;
  top: calc(0px - var(--header-height));
  visibility: hidden;
}

#mobile-header-title {
  position: fixed;
  top:5px;
  height: 40px;
  z-index: 1001;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.invert-onhover:hover,
.invert-onhover:focus {
  filter: invert();
  color: inherit;
  text-decoration: none;
}

.content {
  padding-top: 0px;
  margin: auto;
}

.mb-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar-mb {
  background-color: var(--main-nav-colour);
  border: none;
  width: 100%;
  position: fixed;
  margin-bottom: 0px;
  color: var(--main-nav-text-colour);
}

.navbar-mb a {
  text-decoration: none;
  color: inherit;
}

.nav-soften a:hover,
.nav-soften a:focus {
  transition-duration: 0.5s;
  background-color: var(--com-nav-colour) !important;
}

.navbar-mb li {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.mb-portrait {
  width: 20vw;
  max-width: 600px;
  border-radius: 100%;
  padding-top: 10px;
}

.nav-text-mobile {
  padding: 10px 15px;
  line-height: 20px;
  font-size: 14px;
  color: var(--main-nav-text-colour);
}

.nav-text-mobile a {
  text-decoration: none;
  padding: 15px;
  color: var(--main-nav-text-colour);
}

.main-fill {
  background-color: var(--main-nav-colour);
  color: var(--main-text-colour);
}

.sec-fill {
  background-color: var(--sec-nav-colour);
  color: var(--main-text-colour);
}

.main-border {
  border: 0.2vw solid var(--main-nav-colour);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.comp-border {
  border: 0.2vw solid var(--com-nav-colour);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.black-border {
  border: 0.2vw solid var(--main-black);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.jumbotron-mb {
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: auto;
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
}

.home-link {
  padding: 5px 0px!important;
  height: 44px;
  margin: auto;
  color: var(--main-text-colour);
  font-family: Puzzled;
}

.home-link > span {
  vertical-align: middle;
}

.nav-text-fancy {
  font-family: Puzzled;
  font-size: 48px;
  line-height: 1px;
}

.nav-text-bordered {
  border: 1px solid var(--main-nav-text-colour);
  border-radius: 3px;
  padding: 4px 8px;
}

.home-link:hover {
  background-color: inherit !important;
  filter:invert();
  color: var(--main-text-colour-hover-inverted);
  text-decoration: none;
}

.mobile-title-two {
  color: var(--main-text-colour);
  margin-left: 10px;
  margin-right: 10px;
}

.form-signin {
  min-width: 300px;
  max-width: 400px;
  width: 38vw;
  padding: 24px 16px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* The alert message box */
.alert {
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  text-align:center;
  position: fixed;
}

.header-buffer {
  height: var(--header-height);
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid var(--main-nav-colour);
  background-color: var(--sec-nav-colour);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--corporate-bg-colour);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--main-nav-colour);
  color: var(--main-nav-text-colour);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--main-nav-colour);
  border-top: none;
}

.content-container {
  text-align: center;
}

.card {
  display: inline-block;
  width: 330px;
  margin: 15px;
  background-color: var(--main-white);
}

.wide {
  width: 75%;
  max-width: 900px;
}

.card-header {
  width: 100%;
  padding: 15px;
}

.card-body {
  padding: 15px;
  display: inline-grid;
  width:100%
}

div[alt]:hover:before {
  content: attr(alt);
  color: black;
  background-color: yellow;
  border: 1px solid black;
  padding: 2px 15px;
  position: absolute;
}

.content-centered {
  display: inline-table;
  text-align: left;
}

.content-container {
  padding: 15px;
}

.error-text {
  max-width:330px;
  margin: 0 auto;
  color:red;
}

.bordered {
  border: 1px solid var(--main-nav-colour);
}

.shadowed {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.grid {
  display: inline-grid;
}

.card-link {
  height: 50px;
  width: 100%;
  line-height: 50px;
  transition-duration: 0.2s;
}

.card-link:hover {
  background-color: var(--main-nav-colour);
  text-decoration: none;
  color: var(--main-white);
}

.card-link-inverted {
  height: 50px;
  width: 100%;
  line-height: 50px;
  transition-duration: 0.2s;
  color: var(--main-white);
  background-color: var(--main-nav-colour);
  border-radius: 10px;
  margin-top:5px
}

.card-link-inverted:hover {
  background-color: var(--main-white);
  text-decoration: none;
  color: var(--main-nav-colour);
}

.text-input {
  border: 0.5px solid var(--main-nav-colour);
  margin-bottom: 10px;
  padding: 0px 5px;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: none;
}

.sub-image {
  height: 200px;
}

.banner {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: black;
  color: white;
  opacity: 75%;
  margin: 10px 20px;
}

.card-link-red {
  transition-duration: 0.2s;
  color: var(--main-white);
  background-color: red;
  border-radius: 10px;
}

.card-link-red:hover {
  background-color: var(--main-white);
  text-decoration: none;
  color: red;
}

.rounded {
  border-radius: 20px;
}

#notifications-list {
  overflow-y: auto;
  max-height: 90vh;
}

.notification-container {
  height:85px;
  padding:5px 20px;
  font-family:'Roboto';
  font-size:12px;
  text-align:left;
  cursor: pointer;
  margin: 15px auto;
  white-space: normal;
}

.notification-container > div > div {
  padding-bottom:8px;
  max-width:230px;
}

.notification-container > img {
  height:60px;
  float:right;
  margin-top:15px;
}

.notification-container > div > div > img {
  height:15px;
}

.notification-container > div > p, .notification-container > div > b {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.notification-container > div > p {
  -webkit-line-clamp: 2;
}

.notification-container > div > b {
  -webkit-line-clamp: 1;
}

.notification-container > div > div > p {
  height:15px;
  vertical-align:middle;
}

.mb-text {
  height:15px;
  color:#CCCC00;
  vertical-align:middle;
  padding:0px 5px;
}

.organisation-notification-container {
  width: 100px;
  display: inline-table;
  vertical-align: bottom;
  height:85px;
  padding:5px 10px;
  font-family:'Roboto';
  font-size:12px;
  margin: 15px auto;
  white-space: normal;
}

.organisation-text-small {
  margin:auto;
  display:table-cell;
  vertical-align:middle;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  max-width: 80px;
}

#collapse-button {
  position: fixed;
  top:10px;
  right: 10px;
  z-index: 1000;
  border: 1px solid #000000;
  border-radius: 100%;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  filter: invert(1);
}

.flip-image {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.title-page-register {
  margin: auto;
  width: fit-content;
}

.highlight-page-section {
  background-color: var(--corporate-bg-colour);
}

.page-height {
  min-height: calc(100vh - var(--header-height));
  height: 100%;
  display: flex;
}

.column-container {
  display: flex;
}

.form-note {
  font-size: 12px;
  text-align: left;
  padding: 9px 0px 0px 0px;
  margin: auto;
}

.form-label-mb {
  float: left;
  margin-left: 5px;
}

.marketing {
  margin: 10px auto;
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  font-size: 15px;
  font-weight: 400;
}

.column {
  margin: auto;
}

.title-project-link {
  display: flex;
  border: 1px solid var(--main-black);
  border-radius: 3px;
  margin: 20px auto;
  width: 90%;
  color: var(--main-text-colour);
  transition-duration: 0.5s;
  transition: background-size 0.5s, background-color 0.5s, transform 0.5s, color 0s;
  background-size: 0% 0%;
  background-repeat: no-repeat;
}

.title-project-link:hover {
  transform: scale(1.1);
  color: var(--main-text-colour);
  text-decoration: none;
}

.title-project-link-notify {
  background-image: url('/images/notify-title.svg');
  background-position: center;
}

.title-project-link-notify:hover {
  background-color: var(--notify-main-colour);
  background-size: 60% 60%;
}

.title-project-link-ultimate {
  background-image: url('/images/ultimate/blueX.png'), url('/images/ultimate/redO.png');
  background-position: left, right;
}

.title-project-link-ultimate:hover {
  border-color: var(--ultimate-main-colour);
  color: var(--ultimate-main-colour);
  background-size: 60px 60px;
}

.title-project-link-messenger {
  background-image: url('/images/hermes/hermes-white.png'), url('/images/hermes/hermes-white.png');
  background-position: left, right;
}

.title-project-link-messenger:hover {
  background-color: var(--messenger-main-colour);
  background-size: 50px 50px;
  color: var(--main-white);
}

.title-project-link-website {
  background-image: url('/images/portrait.png');
  background-position: left;
}

.title-project-link-website:hover {
  background-color: var(--main-nav-colour);
  color: var(--main-nav-text-colour);
  background-size: 60px 60px;
}

.title-project-link-notify > .title-project-link-text:hover {
  opacity: 0;
}

.title-project-link-text {
  margin: auto;
  width: 100%;
  padding: 20px 0px;
}

.title-page-card {
  min-width: 300px;
  max-width: 400px;
  width: 38vw;
  padding: 24px 16px;
  margin: 0 auto;
}

.page-section-notify-title {
  background-color: var(--notify-sec-colour);
}

.page-section-messenger-title {
  background-color: var(--messenger-main-colour);
  color: var(--main-white);
}

.page-section-thiswebsite-title {
  box-shadow: inset 0px 0px 0px 5px var(--main-white);
  box-sizing: border-box; /* Include padding and border in element's width and height */
  background-color: var(--corporate-bg-colour);
  color: var(--main-nav-colour);
}

.page-section-ultimate-title {
  box-shadow: inset 0px 0px 0px 5px var(--ultimate-main-colour);
  box-sizing: border-box; /* Include padding and border in element's width and height */
  background-color: var(--main-white);
}

.marketing a {
  color: inherit;
  font-weight: 700;
}

.bold {
  font-weight: 800;
}

.flip-x {
  transform: scaleX(-1);
}

.title-img-hermes {
  width: 300px;
}

.card-ultimate-title {
  border: thick solid var(--ultimate-main-colour);
  border-radius: 12px;
  padding: 10px 10px;
  margin: 20px auto auto auto;
}

.title-thiswebsite-img {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.title-thiswebsite-img img {
  width: 100px;
  margin: 20px;
}
