.header-button {
    color: white;
    text-align: center;
    width: 100px;
    height: 65px;
}

.game-card {
    border: 2px solid #03a9f4;
    border-radius: 12px;
    padding: 10px 10px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
    display:inline-block;
}

.board-ultimate-portfolio table {
  margin: auto;
}

.board-ultimate-portfolio .dashboard-cell {
  padding: 9px;
}

.cell {
    width:4vw;
    height:4vw;
    border: thin solid black;
}


.dashboard-cell {
    padding: min(20px, 3.3vw);
    border: thin solid black;
}

.square {
    text-align: center;
    width:100%;
}

.main-row {
}

.top_row, .row0 {
    border-bottom: thick solid black;
}

.middle-row, .row1 {
    border-top: thick solid black;
    border-bottom: thick solid black;
}

.bottom-row, .row2 {
    border-top: thick solid black;
}

.left-column, .col0 {
    border-right: thick solid black;
}

.middle-column, .col1 {
    border-right: thick solid black;
    border-left: thick solid black;
}

.right-column, .col2 {
    border-left: thick solid black;
}

.player1 {
    background-image: url('/images/ultimate/redO.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.player2 {
    background-image: url('/images/ultimate/blueX.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.valid {
    background-color: yellow;
}

.invalid {
}

.main-text-div {
    display:inline-block;
    width:40vw;
    vertical-align: top;
    font-size:3vw;
    line-height: 2vw;
}

.table-div {
    background-color: white;
    border: 5px solid #03a9f4;
    border-radius: 12px;
    padding: 10px 20px 20px 10px;
    color: black;
    display:inline-block;
}

.y-coordinate {
    height:12vw;
    font-size: 1.5vw;
    text-align: center;
}

.coordinate {
    font-size: 1.5vw;
    text-align: center;
}

.winner-square {
        background-position: 9px 15px;
    }

table, tr, td, tbody {
    vertical-align: middle !important;
}

.turn-div {
    border:2px solid;
    border-radius:12px;
    background-color:white;width:75%;
    font-size:3vw;
}
.newgame-div {
    font-size: 3vw;
}

.newgame-div > form > table > tbody > tr > td > input {
    padding: 10px 2px;
    margin: 0px 20px;
    width: 75%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    background-color: white;
    color: #03a9f4; /* light blue */
    border: 0.3vw solid #03a9f4; /* light blue */
    border-radius: 2vw;
}

.players-names {
    color:white;
    margin:0px 0px 3vw 0px;
    font-size:5vw;
    line-height:6vw;
}

.black-band {
    color: white;
    background-color:black;
    opacity:0.8;
    Word-wrap: break-word;
}

.game-card-header {
  word-wrap: break-word;
}

@media only screen and (max-width: 800px) {
    .players-names {
        font-size:60px;
        line-height: 60px;
    }
    .cell {
        height: 9vw;
        width: 9vw;
    }
    .y-coordinate {
        height:20vw;
        font-size: 12px;
    }
    .coordinate {
        font-size: 12px;
    }
    .table-div {
        padding: 5px 10px 10px 5px;
    }
    .main-text-div {
        width: inherit;
        font-size: 30px;
        line-height: 30px;
    }
    .turn-div {
        font-size: 45px;
        line-height: 45px;
    }
}
