<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <script src="https://unpkg.com/@rocktimsaikia/github-card@1.0.0/dist/widget.min.js" type="module"></script>
  <title><%= process.env.TITLE %> - about</title>
</head>
<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class='page-section-2'>
    <div class='content'>

      <div class='column-container page-height'>
        <div class='column column-about'>
          <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="matthew-bertoncello">
            <a class="LI-simple-link" href='https://au.linkedin.com/in/matthew-bertoncello?trk=profile-badge'>Matthew Bertoncello</a>
          </div>
        </div>

        <div class='column column-about'>
          <a href='https://github.com/matt-bertoncello'>
            <github-card data-user="matt-bertoncello"></github-card>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-1'>
    <div class='content'>

      <div class='column-container page-height'>
        <div class='column column-about'>
          <div class='card wide shadowed bordered' style='padding:0px 50px 15px 50px;'>
            <h1 class='title-about'>Professional History</h1>

            <h2 class='subtitle-about'>Engineer</h2>
            <p><i>Diamond Energy: May 2017 – Present (casual)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Utilised troubleshooting and root cause analysis techniques to continuously improve the operations of Diamond Energy’s biogas-fuelled generators within the generation team.</li>
                <li>Designed, developed and operated Diamond Energy’s market dispatch system and managed the onboarding of generators to ensure they are following AEMO’s dispatch instructions.</li>
                <li>Lead full stack developer on Diamond Energy's Generation Energy Management platform which offers automated rebidding services and manages the generation of non-scheduled assets.</li>
                <li>Improved reporting and business analysis processes through integration of SQL.</li>
                <li>Implemented wholesale FCAS recovery methods to pass through up to $100,000 per week in costs to generators registered under Diamond Energy.</li>
                <li>Calculated monthly commissions and payment transfer amounts to send to Diamond Energy’s channel partners for procuring retail customers.</li>
                <li>Assisted the retail pricing process via analysing competitor offers, updating network tariff costs and assessing the profit margin distribution for retail products over multiple customer scenarios.</li>
                <li>Provided guidance and mentoring to new employees including graduate engineers, business analysts and customer server representatives.</li>
                <li>Supported marketing team with knowledge of front-end and middleware development to streamline changes to company website (WordPress).</li>
              </ul>
            </div>
            <p><b>Key achievement:</b> If we were to have purchased market dispatch software externally, our partnered generators would have incurred ~$100,000 upfront to implement the software with an additional ~$30,000 per year. By creating this system in-house, we saved our partnered generators hundreds of thousands of dollars over their project lifespans.</p>

            <h2 class='subtitle-about'>Customer Service Representative</h2>
            <p><i>Diamond Energy: Jul 2016 – May 2017 (casual)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Answered customer queries via phone and email.</li>
                <li>Performed bill comparisons on customers’ competitor bills/offers.</li>
                <li>Main contact for customer queries regarding solar rewiring and meter upgrades if effected by the NSW Solar Bonus Scheme closure.</li>
              </ul>
            </div>
            <p><b>Key achievement:</b> Received internal praise for diligence on tracking lost customer payments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-3'>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='column column-about'>
          <div class='card wide shadowed bordered' style='padding:0px 50px 15px 50px;'>
            <h1 class='title-about'>Education</h1>
            <h2 class='subtitle-about'>University</h2>
            <p>Monash University - Clayton</p>
            <p>Bachelor of Engineering (Honours) and Bachelor of Commerce</p>

            <h3 class='subtotal-about'>Software Engineering</h3>
            <div style='text-align:left;'>
              <p>A computer science degree spends a lot of time understanding the functional correctness and theoretical performance of algorithms, data structures and the physical operations of hardware. Whilst a software engineering degree also covers these areas, there is more emphasis on developing skills that aid software development in a professional environment. These skills include architectural planning, requirement solicitation, project management, assessing the compatibility of new components in a system and integration testing amongst others.</p>

              <p style='margin-bottom:0px;'>Notable software engineering university projects include:</p>
              <ul>
                <li>Student Portal:
                  <ul>
                    <li>The task was to develop a student portal in a team of 27 students over the span of a full year using SAFe Methodologies and full stack development.</li>
                    <li>I was integral in architectural planning and project management of this system.</li>
                    <li>I built, tested and maintained a Python (Flask) RESTful API server which securely connected to an SQL database hosted on AWS, performed retrieval operations and returned data in JSON format.</li>
                    <li>In the front-end, I developed REACT components that fetch data from the API server and dynamically update the display of the single page application.</li>
                    <li>As expected, there were many project management challenges throughout this project. Communication skills are very important in a group of this size, so communication pipelines needed to be implemented. Also, project decisions were only handled by smaller specialty groups to prevent ‘decision by committee’ issues that would slow down the development process. My project management skills improved immensely throughout this project.</li>
                  </ul>
                </li>
                <li>Healthcare application:
                  <ul>
                    <li>The task was for a two-person team to develop a Java application which allows healthcare workers to view healthcare data of their clients using FHIR RESTful API’s.</li>
                    <li>It was important to maintain data security and user privileges as this application was accessing critical data.</li>
                    <li>Minimizing calls to the API server was essential as it allowed the application to run quickly.</li>
                  </ul>
                </li>
              </ul>
            </div>

            <h3 class='subtotal-about'>Econometrics</h3>
            <div style='text-align:left;'>
              <p>Econometrics combines economics with business analytics. In doing so, econometricians need to study traditional micro- and macro-economics as well as data analysis techniques. This allows econometricians to clean raw data, analyse trends in the cleaned data, prove or disprove economic theories associated with the data or propose new theories.</p>
            </div>

            <h3 class='subtotal-about'>Machine Learning</h3>
            <div style='text-align:left;'>
              <p>Machine Learning is a subset of Artificial Intelligence that can model a system once trained on a large dataset. This area of data analysis utilises both my econometrics and software engineering skills.</p>

              <p style='margin-bottom:0px;'>Notable software engineering university projects include:</p>
              <ul>
                <li>Predicting hourly electricity demand within multiple co-dependent and independent regions in America using artificial neural networks:
                  <ul>
                    <li>In a team of 4, we were given hourly electricity demand for 20 electricity grids in America over a 10-year window. Some of these grids have capped interconnectors between them (similar to the Australian NEM) and others are completely isolated.</li>
                    <li>Our task was to predict the electricity demand in each region multiple hours into the future using lags of previous hours’ electricity usage and knowledge of annual trends.</li>
                    <li>We found that our neural network could accurately interpret annual trends. However, the hourly demand was difficult to predict without weather data.</li>
                  </ul>
                </li>
                <li>Predicting the outcome of each tennis point in the Australian Open:
                  <ul>
                    <li>In a team of 4 students using R, we were given data on every shot from 2017-19 Australian Opens. This data included each players position, the position of each shot, the height of each shot above the net, the speed of each shot and an identifier for the point being played. We were tasked to predict whether each point ended with a ‘winning shot’, a ‘forced error’ or an ‘unforced error’.</li>
                    <li>Machine learning algorithms considered were random forests, neural networks, support vector machines and k-means clustering. The best model was using the XGBoost module in R (boosted, gradient decision trees). We achieved a performance of 95%.</li>
                  </ul>
                </li>
              </ul>
            </div>

            <h2 class='subtitle-about'>High School</h2>
            <p>Xavier College - Kew</p>
            <p>Graduated in 2015 with VCE (Baccalaureate) certificate.</p>
            <p>VCE Classes:</p>
            <table style="width:100%;display:inline-table;max-width:330px;">
              <tr>
                <td>
                  <ul style="list-style-position:inside;">
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>French</li>
                  </ul>
                </td>
                <td>
                  <ul style="list-style-position:inside;">
                    <li>Maths Methods</li>
                    <li>Specialist Maths</li>
                    <li>English</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='page-section-4'>
    <div class='content'>
      <div class='column-container page-height'>
        <div class='column column-about'>
          <div class='card wide shadowed bordered' style='padding:0px 50px 15px 50px;'>
            <h1 class='title-about'>Community Engagement</h1>

            <h2 class='subtitle-about'>Monash University Snowsports Club</h2>
            <p><i>Off Campus Representative: 2018 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Oversaw the organisation of non-skiing related social events such as ice-skiing, bounce, pub crawls, booze cruise and after exams parties.</li>
                <li>‘Parented’ a group of 10 students on a week-long ski trip to Mt Hotham, to make sure they were safe, ensure that enjoyed themselves and had someone to talk to if there was something wrong.</li>
                <li>Procured new students to the club.</li>
              </ul>
            </div>

            <h2 class='subtitle-about'>Greengrocer</h2>
            <p><i>Gardenvale Market: Feb 2013 – Jul 2016 (casual)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Manage inventory and ordering of stock.</li>
                <li>Train new employees in greengrocer operations including restocking shelves, using the cash register and wrapping flowers.</li>
              </ul>
            </div>

            <h2 class='subtitle-about'>Xavier College Community Service</h2>
            <p><i>Hamble Court Aged Care: 2011 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Year 8 students volunteered at Hamble Court for a few hours each Friday afternoon.</li>
              </ul>
            </div>
            <p><i>St Finbar’s Primary School Basketball Development Coaching: 2012 – 2013 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Volunteered with a group of coaches who ran drills with primary school students to develop their basketball skills and have a run around with their school mates.</li>
              </ul>
            </div>
            <p><i>Edmond Rice Camp: 2014 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>ERC provides week-long camps for refugee families with children aged 8-15 years. As leaders, we ran activities with the families.</li>
              </ul>
            </div>
            <p><i>Regis Aged Care: 2014 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Year 11 students volunteered at Regis Aged Care centre in Bay Street Brighton for Social Awareness Week.</li>
              </ul>
            </div>
            <p><i>Friday Night School: 2015 (volunteer)</i></p>
            <div style='text-align:left;'>
              <ul>
                <li>Each Friday after school, leaders tutored disadvantaged kids in subjects ranging in level from primary school to year 11.</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
