<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - about</title>
</head>
<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class='highlight-page-section'>
    <div class='content'>

      <div class='column-container page-height'>
        <div style="margin:auto;">
          <div class="github-widget" data-username="matt-bertoncello"></div>

          <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="matthew-bertoncello">
            <a class="LI-simple-link" href='https://au.linkedin.com/in/matthew-bertoncello?trk=profile-badge'>Matthew Bertoncello</a>
          </div>
        </div>

        <div style="margin:auto;">
          <div class="">
            <a type='button' class='card-link' href="/uni">University Projects</a>
          </div>

          <div class="">
            <a type='button' class='card-link' href="/freelance">Freelance Projects</a>
          </div>
        </div>


      </div>
    </div>
  </div>

</body>
<script src="https://unpkg.com/github-card@1.2.1/dist/widget.js"></script>
</html>
