<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title><%= process.env.TITLE %> - experience</title>
</head>

<body>

  <% include ../partials/pre-nav.ejs %>
  <% include ../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Experience</h1>
  </div>

  <div class='card wide shadowed bordered' style='padding:0px 50px 15px 50px;'>
    <h1>Professional History</h1>

    <h2>Undergraduate Engineer</h2>
    <p><i>Diamond Energy: May 2017 – Present (casual)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Completed tasks towards improving the operation of Diamond Energy’s biogas-fuelled generators.</li>
        <li>Designed and developed Diamond Energy’s market dispatch system and onboarded generators to ensure they are following AEMO’s dispatch instructions.</li>
        <li>Implemented wholesale FCAS recovery methods to pass through $10,000+ per week in costs to generators registered under Diamond Energy.</li>
        <li>Calculated monthly commissions and payment transfer amounts to send to Diamond Energy’s channel partners for procuring retail customers.</li>
        <li>Improved reporting and business analysis processes by writing SQL queries.</li>
        <li>Assisted the retail pricing process via analysing competitor offers, updating network tariff costs and assessing the profit margin distribution for retail products over multiple customer scenarios.</li>
        <li>Supported marketing team with knowledge of front-end and middleware development to streamline changes to company website (WordPress).</li>
      </ul>
    </div>
    <p><b>Key achievement:</b> If we were to have purchased market dispatch software externally, our partnered generators would have incurred ~$100,000 upfront to implement the software with an additional ~$30,000 per year. By creating this system in-house, we saved our partnered generators hundreds of thousands of dollars over their project lifespans.</p>

    <h2>Customer Service Representative</h2>
    <p><i>Diamond Energy: Jul 2016 – May 2017 (casual)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Answered customer queries via phone and email.</li>
        <li>Performed bill comparisons on customers’ competitor bills/offers.</li>
        <li>Main contact for customer queries regarding solar rewiring and meter upgrades if effected by the NSW Solar Bonus Scheme closure.</li>
      </ul>
    </div>
    <p><b>Key achievement:</b> Received internal praise for diligence on tracking lost customer payments.</p>
  </div>

  <div class='card wide shadowed bordered' style='padding:0px 50px 15px 50px;'>
    <h1>Community Engagement</h1>

    <h2>Monash University Snowsports Club</h2>
    <p><i>Off Campus Representative: 2018 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Oversaw the organisation of non-skiing related social events such as ice-skiing, bounce, pub crawls, booze cruise and after exams parties.</li>
        <li>‘Parented’ a group of 10 students on a week-long ski trip to Mt Hotham, to make sure they were safe, ensure that enjoyed themselves and had someone to talk to if there was something wrong.</li>
        <li>Procured new students to the club.</li>
      </ul>
    </div>

    <h2>Greengrocer</h2>
    <p><i>Gardenvale Market: Feb 2013 – Jul 2016 (casual)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Manage inventory and ordering of stock.</li>
        <li>Train new employees in greengrocer operations including restocking shelves, using the cash register and wrapping flowers.</li>
      </ul>
    </div>

    <h2>Xavier College Community Service</h2>
    <p><i>Hamble Court Aged Care: 2011 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Year 8 students volunteered at Hamble Court for a few hours each Friday afternoon.</li>
      </ul>
    </div>
    <p><i>St Finbar’s Primary School Basketball Development Coaching: 2012 – 2013 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Volunteered with a group of coaches who ran drills with primary school students to develop their basketball skills and have a run around with their school mates.</li>
      </ul>
    </div>
    <p><i>Edmond Rice Camp: 2014 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>ERC provides week-long camps for refugee families with children aged 8-15 years. As leaders, we ran activities with the families.</li>
      </ul>
    </div>
    <p><i>Regis Aged Care: 2014 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Year 11 students volunteered at Regis Aged Care centre in Bay Street Brighton for Social Awareness Week.</li>
      </ul>
    </div>
    <p><i>Friday Night School: 2015 (volunteer)</i></p>
    <div style='text-align:left;'>
      <ul>
        <li>Each Friday after school, leaders tutored disadvantaged kids in subjects ranging in level from primary school to year 11.</li>
      </ul>
    </div>

  </div>

</body>
</html>
