<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - bwt</title>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');

    function getCompression(string) {
      socket.emit('getCompression', string);
    }

    socket.on('returnCompression', function(string) {
      document.getElementById("output").innerHTML = string;
    });
    </script>

</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/uni'>Uni Projects</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Burrows-Wheeler Transform</h1>
  </div>

  <div class="content-container">
    <div class='card-large bordered shadowed'>
      <h1>Input Text:</h1>
      <textarea id='input' class='text-input' style='min-width:75%;max-width:75%' oninput="getCompression(this.value)"></textarea>
    </div>

    <div class='card-large bordered shadowed'>
      <h1>Compressed Output:</h1>
      <textarea readonly id='output' class='text-input' style='min-width:75%;max-width:75%'></textarea>
    </div>
  </div>

</body>
</html>
