<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/hermes.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });

  </script>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <h1>9 Way Dashboard</h1>
  <a type='button' href='/hermes/new'>New Chat</a>

  <% for(var i=0; i<chatRoomArray.length; i++) { %>
    <div class="chatRoom_card" onclick="window.location.href = '/hermes/<%= chatRoomArray[i].getChatName(req.user._id) %>'">
      <h1><%= chatRoomArray[i].getChatName(req.user._id) %></h1>
    </div>
  <% } %>

</body>
</html>
