<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - new chat</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/hermes.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });

    function newchat_user(username) {
      socket.emit('newchat_user', username);
    }

    socket.on('err', function(err){
      document.getElementById(err.id).innerHTML = err.text;
      setTimeout(function () {
        document.getElementById(err.id).innerHTML = '';
      }, 3*1000);
    });

  </script>
</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
    <li><a href='/hermes'>Hermes Dashboard</a></li>
  <% include ../../partials/post-nav.ejs %>

  <!-- Tab links -->
  <div class="card bordered shadowed">
    <h1>Find Friend</h1>
    <div class="tab">
      <button style='width:100%' class="tablinks active" onclick="openTab(event, 'username_tab')">Username</button>
    </div>

    <!-- Tab content -->
    <div id="username_tab" class="tabcontent" style='display:block'>

      <input class='form-control' type='text' id='username' placeholder='username'>
      <button class='card-link-inverted bordered' onclick="newchat_user(document.getElementById('username').value)">Start Chat</button>
      <div class='error' id='error_user'></div>

    </div>

  </div>

<script type="text/javascript" src="/js/tabs.js"></script>

</body>
</html>
