<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/9way.css" />
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <h1>9 Way Dashboard</h1>
  <a type='button' href='/9way/new'>New Game</a>


</body>
</html>
