<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - new 9 way</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/9way.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });

    function newgame_user(username) {
      socket.emit('newgame_user', username);
    }

    function newgame_email(email) {
      socket.emit('newgame_email', email);
    }

    socket.on('err', function(err){
      document.getElementById(err.id).innerHTML = err.text;
      setTimeout(function () {
        document.getElementById(err.id).innerHTML = '';
      }, 3*1000);
    });

  </script>
</head>

<body>

  <% include ../../partials/nav.ejs %>
  <h1>Find Opponent</h1>
  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'username_tab')">Username</button>
    <button class="tablinks" onclick="openTab(event, 'email_tab')">Email</button>
  </div>

  <!-- Tab content -->
  <div id="username_tab" class="tabcontent" style='max-width:300px;'>

    <input class='form-control' type='text' id='username' placeholder='username'>
    <button class='btn btn-lg btn-primary btn-block' onclick="newgame_user(document.getElementById('username').value)">Start Game</button>
    <div class='error' id='error_user'></div>

  </div>

  <div id="email_tab" class="tabcontent">

    <input class='form-control' type='text' id='email' placeholder='email'>
    <button class='btn btn-lg btn-primary btn-block' onclick="newgame_email(document.getElementById('email').value)">Start Game</button>
    <div class='error' id='error_email'></div>

  </div>

<script type="text/javascript" src="/js/tabs.js"></script>

</body>
</html>
