<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="form-group">
  <a type="button" href="/auth/facebook">Facebook</a>
  <a type="button" href="/auth/twitter">Twitter</a>
  <a type="button" href="/auth/google">Google</a>
  <a type="button" href="/auth/github">GitHub</a>
</div>


</body>
</html>
