<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<h1> <% user.name %></h1>

<a type="button" href="/auth/logout" >Logout</a>

</body>
</html>
