<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - this website</title>
</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>This Website</h1>
  </div>

  <div class='card wide shadowed bordered'>
    <h1>About the Website</h1>
    <p>See GitHub reposity <a target='blank' href='https://github.com/matt-bertoncello/mbertoncello'>here</a>.</p>
    <p>This website is hosted on Heroku with a NodeJS backend and a MongoDB database. It uses sockets on particular pages to
      interact dynamically with server, such as on <a href='\anagrams'>Anagrams</a>, <a href='\BWT'>BWT</a> and <a href='\hermes'>Hermes</a> messaging project amongst others.</p>
  </div>

</body>
</html>
