<nav class="navbar navbar-static-top navbar-mb">
  <div id='nav-container' class="mb-container hide-mobile-nav">
    <ul class="nav navbar-nav nav-soften">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-soften">
